.app {
  text-align: center;
  border: none !important;
  border-color: #ccc;
  margin-top: 50px;
}

.game {
  display: inline-block;
  border: none !important;
  border-color: #ccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  margin: 0 auto;
  border: none !important;
}

.row {
  display: contents;
}

.cell {
  width: 100px;
  height: 100px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #333;
  border-radius: 10px;
}

.cell.filled {
  background-color: #eee;
}

.game-over {
  font-size: 2rem;
  color: red;
  margin-bottom: 20px;
}

.cell.cell-2 {
  background-color: #eee4da;
}
.cell.cell-4 {
  background-color: #ede0c8;
}
.cell.cell-8 {
  background-color: #f2b179;
}
.cell.cell-16 {
  background-color: #f59563;
}
.cell.cell-32 {
  background-color: #f67c5f;
}
.cell.cell-64 {
  background-color: #f65e3b;
}
.cell.cell-128 {
  background-color: #edcf72;
}
.cell.cell-256 {
  background-color: #edcc61;
}
.cell.cell-512 {
  background-color: #edc850;
}
.cell.cell-1024 {
  background-color: #edc53f;
}
.cell.cell-2048 {
  background-color: #edc22e;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #467146;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
}

button:hover {
  background-color: #4cae4c;
}

button:active {
  background-color: #449d44;
}
